<!-- About Start -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="title text-center col-sm-12">
        <h2>Nosotros</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="about-company">
          <h2>SmartTools</h2>
          <p>
            SmartTools es una herramienta para empresas de todos los tamaños que les permite
            realizar fácilmente concursos de videos. Nuestra herramienta facilitará que
            los videos sean revisados por el equipo de marketing de su empresa y le otorguen a el mejor video de cada
            un fabuloso premio.
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <img src="assets/images/nosotrosGif.gif" alt="gir" class="img-responsive">
      </div>
    </div>
    <div class="about-team">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="about-team-person text-center">
            <div class="about-team-person-image">
              <img class="img-responsive" src="assets/images/team/1.jpg" alt="Team1">
            </div>
            <div class="about-team-person-info">
              <h3>Concurso video 1</h3>
              <h4>Física</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
            <!-- <div class="about-team-person-social-icons">
              <ul>
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
              </ul>
            </div> -->
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="about-team-person text-center">
            <div class="about-team-person-image">
              <img class="img-responsive" src="assets/images/team/2.jpg" alt="Team1">
            </div>
            <div class="about-team-person-info">
              <h3>Concurso video 2</h3>
              <h4>Diseño</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
            <!-- <div class="about-team-person-social-icons">
              <ul>
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
              </ul>
            </div> -->
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="about-team-person text-center">
            <div class="about-team-person-image">
              <img class="img-responsive" src="assets/images/team/3.jpg" alt="Team1">
            </div>
            <div class="about-team-person-info">
              <h3>Concurso video 3</h3>
              <h4>Culinaria</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
            <!-- <div class="about-team-person-social-icons">
              <ul>
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
              </ul>
            </div> -->
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="about-team-person text-center">
            <div class="about-team-person-image">
              <img class="img-responsive" src="assets/images/team/4.jpg" alt="Team1">
            </div>
            <div class="about-team-person-info">
              <h3>Concurso video 4</h3>
              <h4>Lego</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
            <!-- <div class="about-team-person-social-icons">
              <ul>
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
              </ul>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About End -->
