<!-- About Start -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
          <div class="col-sm-8">
            <img src="assets/images/nosotrosGif.gif" alt="gir" class="img-responsive">
          </div>
          <div class="col-sm-4">
            <div class="about-company">
            <h2>Concursos</h2>
            <p>
              Descripcion del concurso 0011
            </p>
          </div>
          <div class="form-group">
              <a [routerLink]="['/concursos']">
                <button type="submit" class="btn btn-danger  btn-lg btn-block">Ver concursos</button>
              </a>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="title text-center col-sm-12">
        <h2>¿Quieres ser parte de la gran parte de empresas que utilizan Beite?</h2>
      </div>

      <div class="col-sm-12">
        <div class="col-sm-8">
          <div class="about-company">
            <h2>Inscribete</h2>
            <p>
              Puedes hacer parte de los de la comunidad de compañias que tienen campañas demasiado exitosas. ver y disfruta de nuestra plataforma y haz parte de la actualidad
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <a [routerLink]="['/sing-up']" class="btn btn-success  btn-lg btn-block" >
              Regitrarse
            </a>
          </div>

          <div class="form-group">
            <a [routerLink]="['/login']">
              <button type="submit" class="btn btn-primary btn-lg btn-block">Ingresar</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About End -->
