<!-- About Start -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="title text-center col-sm-12">
        <h2>Videos del concurso</h2>
      </div>
    </div>
    <button md-button md-fab class="button-upload" (click)="openDialog()" title="Cargar video">
      <i class="fa fa-upload fa-2x" aria-hidden="true"></i>
    </button>
    <div class="about-team">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="about-team-person text-center">
            <div class="about-team-person-image">
              <img class="img-responsive" src="assets/images/team/1.jpg" alt="Team1">
            </div>
            <div class="about-team-person-info">
              <h3> video 1</h3>
              <h4>Física</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
            <div class="form-group">
              <a href="/concurso/11">
                <button type="submit" class="btn btn-danger btn-lg btn-block">Ver ...</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="about-team-person text-center">
            <div class="about-team-person-image">
              <img class="img-responsive" src="assets/images/team/2.jpg" alt="Team1">
            </div>
            <div class="about-team-person-info">
              <h3> video 2</h3>
              <h4>Diseño</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
            <div class="form-group">
              <a href="/concurso/11">
                <button type="submit" class="btn btn-success  btn-lg btn-block">Ver ...</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="about-team-person text-center">
            <div class="about-team-person-image">
              <img class="img-responsive" src="assets/images/team/3.jpg" alt="Team1">
            </div>
            <div class="about-team-person-info">
              <h3> video 3</h3>
              <h4>Culinaria</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
            <div class="form-group">
              <a href="/concurso/11">
                <button type="submit" class="btn btn-success  btn-lg btn-block">Ver ...</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="about-team-person text-center">
            <div class="about-team-person-image">
              <img class="img-responsive" src="assets/images/team/4.jpg" alt="Team1">
            </div>
            <div class="about-team-person-info">
              <h3> video 4</h3>
              <h4>Lego</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
            <div class="form-group">
              <a href="/concurso/11">
                <button type="submit" class="btn btn-success  btn-lg btn-block">Ver ...</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
