<!-- About Start -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
          <div class="col-sm-8">
            <img src="assets/images/nosotrosGif.gif" alt="gir" class="img-responsive">
          </div>
          <div class="col-sm-4">
            <div class="about-company">
            <h2>Concursos 00111</h2>
            <p>
              Puedes participar en la comunidad de compañias que tienen campañas demasiado exitosas. ver y disfruta de nuestra plataforma y haz parte de la actualidad.
            </p>
          </div>
            <a href="concurso/11/registro">
              <button type="submit" class="btn btn-danger btn-lg btn-block">Registrar video</button>
            </a>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="title text-center col-sm-12">
        <h2>Listado de videos participantes</h2>
      </div>
          <div class="col-sm-6 col-md-6">
            <div class="about-team-person text-center">
              <div class="about-team-person-image">
                <img class="img-responsive" src="assets/images/team/1.jpg" alt="Team1">
              </div>
              <div class="about-team-person-info">
                <h3>Concurso video 1</h3>
                <h4>Física</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6">
            <div class="about-team-person text-center">
              <div class="about-team-person-image">
                <img class="img-responsive" src="assets/images/team/2.jpg" alt="Team1">
              </div>
              <div class="about-team-person-info">
                <h3>Concurso video 2</h3>
                <h4>Diseño</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-6">
            <div class="about-team-person text-center">
              <div class="about-team-person-image">
                <img class="img-responsive" src="assets/images/team/4.jpg" alt="Team1">
              </div>
              <div class="about-team-person-info">
                <h3>Concurso video 4</h3>
                <h4>Lego</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
              </div>
            </div>
          </div>

                    <div class="col-sm-6 col-md-6">
            <div class="about-team-person text-center">
              <div class="about-team-person-image">
                <img class="img-responsive" src="assets/images/team/3.jpg" alt="Team1">
              </div>
              <div class="about-team-person-info">
                <h3>Concurso video 3</h3>
                <h4>Culinaria</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
              </div>
            </div>
          </div>
      </div>
  </div>
</section>
<!-- About End -->
