<!-- About Start -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="title text-center col-sm-12">
        <h2>Videos del concurso</h2>
      </div>
    </div>
    <button md-button md-fab class="button-upload" (click)="openDialog()" title="Cargar video">
      <i class="fa fa-upload fa-2x" aria-hidden="true"></i>
    </button>
    <p *ngIf="creadoConExito" class="animated fadeIn">¡Tu video fue cargado con exito!</p>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    <div class="about-team">
      <div class="row">

        <div class="col-sm-6 col-md-6" *ngFor="let video of listaVideos  | paginate: { itemsPerPage: 50, currentPage: p } ">
          <div class="about-team-person text-center">
            <div class="about-team-person-image">
              <video style="width:100%;" controls>
            	   <source [src]="enlaces(video.url)" type="video/mp4">
                 <source [src]="enlaces(video.url)" type="video/ogg">
                 <source [src]="enlaces(video.url)" type="video/webm">
            	   Tu navegador no soporta HTML5 video.
              </video>

            </div>
            <div class="about-team-person-info">
              <h3> {{video.name}}</h3>
              <h4>{{video.createdAt}}</h4>
              <p>{{video.description}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
