<md-progress-bar mode="indeterminate" *ngIf="creacion"></md-progress-bar>
<md-card class="card-background-color animated rubberBand">
  <form (ngSubmit)="registrarVideo()" >
    <md-card-title>
      Cargar un video
    </md-card-title>
    <md-card-content>
      <div class="col-md-4">
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Nombre de usuario" required  name="username" type="text" [(ngModel)]="registroVideo.username">
          <md-icon mdSuffix><i class="fa fa-address-book" aria-hidden="true"></i></md-icon>
        </md-form-field>
      </div>
      <div class="col-md-4">
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Apellido" name="surname" required  type="text" [(ngModel)]="registroVideo.surname">
          <md-icon mdSuffix ><i class="fa fa-user" aria-hidden="true"></i></md-icon>
        </md-form-field>
      </div>
      <div class="col-md-4">
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Email" name="email" type="email"  required [(ngModel)]="registroVideo.email">
          <md-icon mdSuffix ><i class="fa fa-envelope-o" aria-hidden="true"></i></md-icon>
        </md-form-field>
      </div>
      <div class="col-md-4">
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Titulo del video" name="name" type="text"  required [(ngModel)]="registroVideo.name">
          <md-icon mdSuffix ><i class="fa fa-envelope-o" aria-hidden="true"></i></md-icon>
        </md-form-field>
      </div>
      <div class="col-md-12">
        <label>Mensaje</label>
        <br>
        <textarea name="name" style="width:100%;" name="mensaje" [(ngModel)]="registroVideo.description"></textarea>
        <br>
      </div>

      <div class="col-md-6">
        <input type="file" name="video" value="video" style="display:none;" #cargarVideov>
        <button  class="btn-block" md-raised-button color="accent" (click)="cargarVideov.click();false">
          <i class="fa fa-film" aria-hidden="true"></i>
          Elegir video
        </button>
        <br>
      </div>
      <div class="col-md-6">
        <button md-raised-button color="primary" class="btn-block">Enviar</button>
      </div>
      <button md-raised-button color="primary" class="btn-block" disabled style="visibility: hidden;">Enviar</button>
    </md-card-content>
  </form>
</md-card>
