
<div class="container margin-header-footer">
    <div class="row">

        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" [routerLink]="['/home-admin']">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/crud-competition']">CRUD Concursos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/create-competition']">Crear Concursos</a>
            </li>
          </ul>

        </nav>
        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
              <div class="col-md-12">                
                <mat-card class="card-background-color animated rubberBand">
                  <form (ngSubmit)="registerCompetition()">
                    <mat-card-title>
                      Formulario de actualización
                    </mat-card-title>
                    <mat-card-content>
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Nombre de concurso" name="surname" type="text" [(ngModel)]="competition.name">
                          <mat-icon matSuffix><i class="fa fa-address-book" aria-hidden="true"></i></mat-icon>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Nombre de Compañia impulsadora" name="company" type="text" [(ngModel)]="competition.company">
                          <mat-icon matSuffix><i class="fa fa-address-book" aria-hidden="true"></i></mat-icon>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="URL concurso" name="url" type="text" [(ngModel)]="competition.url">
                          <mat-icon matSuffix><i class="fa fa-address-book" aria-hidden="true"></i></mat-icon>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="URL baner" name="urlImageBanner" type="text" [(ngModel)]="competition.url_image_banner">
                          <mat-icon matSuffix><i class="fa fa-address-book" aria-hidden="true"></i></mat-icon>
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Description" name="description" type="text" [(ngModel)]="competition.description">
                          <mat-icon matSuffix><i class="fa fa-address-book" aria-hidden="true"></i></mat-icon>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field>
                          <input matInput [matDatepicker]="picker1" name="Fecha inicial" [(ngModel)]="competition.date_start" placeholder="Fecha inicial">
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field>
                          <input matInput [matDatepicker]="picker" name="Fecha inicial" [(ngModel)]="competition.date_end" placeholder="Fecha Final">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <button mat-raised-button color="primary" class="btn-block">Crear Concurso</button>
                    </mat-card-content>
                  </form>
                </mat-card>
              </div>
        </main>
      </div>
</div>
