<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="title text-center col-sm-12">
        <h2>Administrador General</h2>
      </div>
    </div>
    <div class="row">
      <div class="portfolio-gallery">
        <div class="col-sm-4">
          <div class="portfolio-gallery-item">
            <h2>CRUD Concursos</h2>
            <img class="img-responsive" src="assets/images/descarga.jpeg" alt="Image1">
              <a [routerLink]="['/crud-competition']" rel="prettyPhoto[gallery]">
                <i class="fa fa-search-plus"></i>
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
