<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="title text-center col-sm-12">
        <h2>Galeria de concursos</h2>
      </div>
    </div>
    <div class="row">
      <div class="portfolio-gallery">

        <div class="col-sm-4" *ngFor="let competition of listOfCompetitions">
          <div class="portfolio-gallery-item">
            <h2>{{competition.surname}}</h2>
            <img class="img-responsive" [src]="competition.url_image_banner" alt="Image1">
            <a [routerLink]="['/concurso/'+competition.url]" rel="prettyPhoto[gallery]">
              <i class="fa fa-search-plus"></i>
            </a>
            <strong><em>{{competition.description}}</em></strong>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
