<div class="container margin-header-footer">
    <div class="row">

        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="home-admin">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="crud-competition">CRUD Concursos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="create-competition">Crear Concursos</a>
            </li>
          </ul>

        </nav>
        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
    
<div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Compañia</th>
                  <th>Url</th>
                  <th>Activo</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let competition of listOfCompetitions">
                  <td>{{competition.id}}</td>
                  <td>{{competition.surname}}</td>
                  <td>{{competition.company}}</td>
                  <td>{{competition.url}}</td>
                  <td>{{competition.active}}</td>                 
                  <a [routerLink]="['/concurso-gestion/'+competition.id]" rel="prettyPhoto[gallery]">
                    <i class="fa fa-address-card"></i>
                  </a>
                  <a [routerLink]="['/crud-video/'+competition.id]" rel="prettyPhoto[gallery]">
                    <i class="fa fa-video-camera"></i>
                  </a>
                </tr>
              </tbody>
            </table>
          </div>
      </main>
      </div>
</div>
