<div class="container margin-header-footer">
  <div class="row">
    <div class="col-md-6">
      <mat-progress-bar mode="indeterminate" *ngIf="creacion"></mat-progress-bar>
      <mat-card class="card-background-color animated rubberBand">
        <form (ngSubmit)="registrarUsuario()">
          <mat-card-title>
            Formulario de registro
          </mat-card-title>
          <mat-card-content>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Nombre de usuario" name="username" type="text" [(ngModel)]="nuevoUsuario.username">
                <mat-icon matSuffix><i class="fa fa-address-book" aria-hidden="true"></i></mat-icon>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Contraseña" name="password" type="password" [(ngModel)]="nuevoUsuario.password">
                <mat-icon matSuffix ><i class="fa fa-key" aria-hidden="true"></i></mat-icon>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Nombre" name="name" type="text"  [(ngModel)]="nuevoUsuario.name">
                <mat-icon matSuffix ><i class="fa fa-user" aria-hidden="true"></i></mat-icon>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Apellido" name="surname"  type="text" [(ngModel)]="nuevoUsuario.surname">
                <mat-icon matSuffix ><i class="fa fa-user" aria-hidden="true"></i></mat-icon>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" name="email" type="email" [(ngModel)]="nuevoUsuario.email">
                <mat-icon matSuffix ><i class="fa fa-envelope-o" aria-hidden="true"></i></mat-icon>
              </mat-form-field>
            </div>
            <button mat-raised-button color="primary" class="btn-block">Registrar</button>
            <p *ngIf="sesion" class="animated fadeInUp">Ya puedes <a [routerLink]="['/home']">iniciar sesión</a></p>
          </mat-card-content>
        </form>
      </mat-card>
    </div>

    <div class="col-md-6">
      <img src="assets/images/login.gif" alt="login gif" class="img-responsive animated bounceInUp">
    </div>
  </div>
</div>
